addict
albumentations
black
certifi
click
cycler
fonttools
imagecorruptions
imageio
importlib-metadata
joblib
kiwisolver
matplotlib
mmcv==0.4.3
mypy-extensions
networkx
numpy
opencv-python
packaging
pathspec
Pillow
platformdirs
pycocotools
pyparsing
PyQt5
PyQt5-Qt5
PyQt5-sip
python-dateutil
python-dotenv
PyWavelets
PyYAML
qudida
scikit-image
scikit-learn
scipy
Shapely
six
terminaltables
threadpoolctl
tifffile
tomli
torch==1.8.1+cu111
torchaudio==0.8.1
torchvision==0.9.1+cu111
typed-ast
typing_extensions
zipp
